header {
    background-color: #D8FF00;
}

.bg-purple {
    background-color: #6A00B9;
}

.section-clubes span {
    margin-top: 100px;
}

.section-clubes div {
    margin-top: 150px;
    margin-bottom: 300px;
}